@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    font-family: 'Playfair Display', serif;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #22333B;
    --secondary-color: #EAE0D5;
    --terciary-color: #5E503F; 
    --black: #0A0908;
    --beige: #C6AC8E;
}

.navbar {
    height: 75px;
    /* background-color: var(--primary-color); */
    background: linear-gradient(90deg, #162025 0%, #22333B 85%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 8px;
    perspective-origin: 0%;
    display: flex;
}

.navbar {
    & a {
        color: var(--secondary-color);
        font-size: x-large;
        text-decoration: none;
        transition: .25s;
        
        &:hover {
            color: var(--beige);
        }
    }

    & input {
        margin-left: 50px;
        height: 30px;
        width: 200px;
        border-color: transparent;
        background-color: transparent;
        color: #fff;
        font-size: large;
        border-bottom: var(--secondary-color) 2px solid;
    
        &::placeholder {
            color: var(--secondary-color);
            opacity: .5;
            font-size: large;
        }
    
        &:focus {
            outline: none;
        }
    }
}


#foreground {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -2;
}

.imageContainer {
    height: 80vh;
    background-color: rgba(0,0,0,.4);
    box-shadow: inset 0px -150px 100px -100px #000;
}

section {
    position: relative;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    color: var(--secondary-color);
    top: 25%;
    width: 100%;
    font-size: 4vw;
}

.description {
    color: var(--secondary-color);
    top: 45%;
}